extends layout_2

block css
  //CSS Datatables
  link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css')

block scripts
  // DataTables JavaScript
  script(src='/bower_components/datatables.net/js/jquery.dataTables.min.js')

block export
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
  h1.h2 Graficos
  .btn-toolbar.mb-2.mb-md-0
    .btn-group.mr-2
      button.btn.btn-sm.btn-outline-secondary(type='button') Share
      button#export.btn.btn-sm.btn-outline-secondary(type='button') Export
    button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button')
      span(data-feather='calendar')
      |             This week

block content
  canvas#myChart_2.my-4.w-100(width='900', height='380')
    script.
      $(document).ready(function () {
      showGraph();
      });
      function showGraph()
      {
      {
      $.post("/db_2",
      function (data)
      {
      console.log(data);
      var name = [];
      var marks = [];
      for (var i in data) {
      name.push(data[i].Destino);
      marks.push(data[i].tempo);
      }
      var chartdata = {
      labels: name,
      datasets: [
      {
      label: 'Tempo (s)',
      backgroundColor: '#49e2ff',
      borderColor: '#46d5f1',
      hoverBackgroundColor: '#CCCCCC',
      hoverBorderColor: '#666666',
      data: marks
      }
      ]
      };
      var graphTarget = $("#myChart_2");
      var barGraph = new Chart(graphTarget, {
      type: 'line',
      data: chartdata
      });
      });
      }
      }


    
