extends layout_2

block css
  //CSS Datatables
  link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css')

block scripts
  // DataTables JavaScript
  script(src='/bower_components/datatables.net/js/jquery.dataTables.min.js')

block export
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
  h1.h2 Graficos
  .btn-toolbar.mb-2.mb-md-0
    .btn-group.mr-2
      button.btn.btn-sm.btn-outline-secondary(type='button') Share
      button#export.btn.btn-sm.btn-outline-secondary(type='button') Export
    button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button')
      span(data-feather='calendar')
      |             This week

block content
  include modal


    
