doctype html
html
 head
  include title.pug
  link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
  	
 body
  include top_menu.pug
  .container
   block content
   br
   hr
   footer
    p Copyright &copy 2020