html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
    meta(name='generator', content='Jekyll v4.0.1')

    title Dashboard Template · Bootstrap

    // Bootstrap core CSS
    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')

    // Favicons
    link(rel='apple-touch-icon', href='/bower_components/bootstrap/assets/img/favicons/apple-touch-icon.png', sizes='180x180')
    link(rel='icon', href='/bower_components/bootstrap/assets/img/favicons/favicon-32x32.png', sizes='32x32', type='image/png')
    link(rel='icon', href='/bower_components/bootstrap/assets/img/favicons/favicon-16x16.png', sizes='16x16', type='image/png')
    link(rel='manifest', href='/bower_components/bootstrap/assets/img/favicons/manifest.json')
    link(rel='mask-icon', href='/bower_components/bootstrap/assets/img/favicons/safari-pinned-tab.svg', color='#563d7c')
    link(rel='icon', href='/bower_components/bootstrap/assets/img/favicons/favicon.ico')
    meta(name='msapplication-config', content='/bower_components/bootstrap/assets/img/favicons/browserconfig.xml')
    meta(name='theme-color', content='#563d7c')
    style.
      .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      }
      @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
      }
    // Custom styles for this template
    link(href='/bower_components/bootstrap/dashboard/dashboard.css', rel='stylesheet')

  //JQuerry
  script(src='/bower_components/jquery/dist/jquery.js')

  block css
  
  block scripts
  
  body
    include top_menu_2.pug
    .container-fluid
      .row
        include sidebar.pug
        main#conteudo.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
          block export
          block content
          include modal_pen

    script(src='/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js', integrity='sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd', crossorigin='anonymous')

    //Charts scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js')

  