html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
    meta(name='generator', content='Jekyll v4.0.1')
    title Signin Template · Bootstrap
    link(rel='canonical', href='https://getbootstrap.com/bower_components/bootstrap/examples/sign-in/')
    // Bootstrap core CSS
    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
    // Favicons
    link(rel='apple-touch-icon', href='/bower_components/bootstrap/assets/img/favicons/apple-touch-icon.png', sizes='180x180')
    link(rel='icon', href='/bower_components/bootstrap/assets/img/favicons/favicon-32x32.png', sizes='32x32', type='image/png')
    link(rel='icon', href='/bower_components/bootstrap/assets/img/favicons/favicon-16x16.png', sizes='16x16', type='image/png')
    link(rel='manifest', href='/bower_components/bootstrap/assets/img/favicons/manifest.json')
    link(rel='mask-icon', href='/bower_components/bootstrap/assets/img/favicons/safari-pinned-tab.svg', color='#563d7c')
    link(rel='icon', href='/bower_components/bootstrap/assets/img/favicons/favicon.ico')
    meta(name='msapplication-config', content='/bower_components/bootstrap/assets/img/favicons/browserconfig.xml')
    meta(name='theme-color', content='#563d7c')
    style.
      .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      }
      @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
      }
    // Custom styles for this template
    link(href='/bower_components/bootstrap/signin.css', rel='stylesheet')
  body.text-center
    form.form-signin
      img.mb-4(src='/bower_components/bootstrap/assets/brand/bootstrap-solid.svg', alt='', width='72', height='72')
      h1.h3.mb-3.font-weight-normal Please sign in
      label.sr-only(for='inputEmail') Email address
      input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')
      label.sr-only(for='inputPassword') Password
      input#inputPassword.form-control(type='password', placeholder='Password', required='')
      .checkbox.mb-3
        label
          input(type='checkbox', value='remember-me')
          |  Remember me
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
      p.mt-5.mb-3.text-muted © 2017-2020
