// Modal
#exampleModal_data.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Adicionar informações
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body.overflow-auto
        .col-md-16.order-md-1
          form.needs-validation(novalidate='')
            .row
              .col-md-3.mb-3
                label(for='id') Id
                input#id.form-control(type='text', placeholder='', required='')
                .invalid-feedback
                  | Zip code required.
              .col-md-4.mb-3
                label(for='info') Informação
                select#info.custom-select.d-block.w-100(required='')
                .invalid-feedback
                  | Escolha uma opção válida.
              .col-md-4.mb-3
                label(for='state') Cor
                select#state.custom-select.d-block.w-100(required='')
                  option(value='') Escolha...
                .invalid-feedback
                  | Escolha uma opção válida.
      .modal-footer
        hr.mb-4
        button.btn.btn-primary.btn-lg.btn-block(type='submit' onclick= "add_data_graph ()") Enviar

script(type='text/javascript').
  $(document).ready(function () { inicia_modal(); });
  function inicia_modal() {
    var options = ["tempo", "tempo_2"];
    preenche_combo ('info', options);
  };
  
  //Adiciona informações no gráfico conforme seleção
  function add_data_graph () {
    //Pega informações do combo
    var element = document.getElementById("info");
    var op = element.options[element.selectedIndex].value;

    //Pega informações do id
    var id_value = document.getElementById("id").value;

    execute_addData(id_value,'Destino',op);
  };