style.
  .alert.alert-info, .button
  {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
  }

// Button trigger modal
.button
  button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
    | Adicionar itens
// Modal
#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4#myModalLabel.modal-title Escolha o item a ser adicionado
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        .modal-split
          label.col-form-label Gráfico de barras
          img.img-fluid( src='/bower_components/images/bar.png', alt='Grafico de barras')
        .modal-split
          label.col-form-label Gráfico de linhas
          img.img-fluid( src='/bower_components/images/line.png', alt='Grafico de linhas')
        .modal-split
          label.col-form-label Gráfico de rosca
          img.img-fluid( src='/bower_components/images/rosca.png', alt='Grafico de rosca')
      .modal-footer
        // Nothing Goes Here but is needed!

//Adiciona script de funções criadas
script(src='/bower_components/Felipe/utils.js')
script(type='text/javascript').
  
  //Controla o modal
  $(document).ready(function() {
  prep_modal();
  });
  function prep_modal()
  {
  $(".modal").each(function() {
  var element = this;
  var pages = $(this).find('.modal-split');
  if (pages.length != 0)
  {
  pages.hide();
  pages.eq(0).show();

  //Adiciona os botoes no footer
  //Botão recua
  var b_button = document.createElement("button");
  b_button.setAttribute("type","button");
  b_button.setAttribute("class","btn btn-primary");
  b_button.setAttribute("style","display: none;");
  b_button.innerHTML = "Anterior";
  //Botão avança
  var n_button = document.createElement("button");
  n_button.setAttribute("type","button");
  n_button.setAttribute("class","btn btn-primary");
  n_button.innerHTML = "Próximo";
  //Botão adicionar
  var add_button = document.createElement("button");
  add_button.setAttribute("type","button");
  add_button.setAttribute("class","btn btn-primary");
  add_button.setAttribute("id","adiciona_item");
  add_button.innerHTML = "Adicionar";
  //Adicona os botões
  $(this).find('.modal-footer').append(add_button).append(b_button).append(n_button);

  //Define a pagina atual
  var page_track = 0;
  
  //Define o que o botão adicionar vai fazer
  function adiciona_comportamento()
  {
  if(page_track == 0)
  {  
    $("#adiciona_item").attr("onclick","add_chart(\'bar\')");
  }
  if(page_track == 1)
  {  
    $("#adiciona_item").attr("onclick","add_chart(\'line\')");
  }
  if(page_track == 2)
  {  
    $("#adiciona_item").attr("onclick","add_chart(\'doughnut\')");
  }
  }

  adiciona_comportamento();

  //Ao clicar no botao avanca
  $(n_button).click(function() {
  this.blur();
  if(page_track == 0)
  {
  $(b_button).show();
  }
  if(page_track == pages.length-2)
  {
  $(n_button).hide();
  }
  if(page_track == pages.length-1)
  {
  $(element).find("form").submit();
  }
  if(page_track < pages.length-1)
  {
  page_track++;
  pages.hide();
  pages.eq(page_track).show();
  }
  
  adiciona_comportamento();
  
  });
  
  //Ao clicar no bota recua
  $(b_button).click(function() {
  if(page_track == 1)
  {
  $(b_button).hide();
  }
  if(page_track == pages.length-1)
  {
  $(n_button).show();
  $(n_button).text("Próximo");
  }
  if(page_track > 0)
  {
  page_track--;
  pages.hide();
  pages.eq(page_track).show();
  }

  adiciona_comportamento();

  });
  }
  });
  }
