// Button trigger modal
button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal')
  | Launch demo modal

// Modal
#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Modal title
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body.overflow-auto
        .col-md-16.order-md-1
          h4.mb-3 Billing address
          form.needs-validation(novalidate='')
            .row
              .col-md-6.mb-3
                label(for='firstName') First name
                input#firstName.form-control(type='text', placeholder='', value='', required='')
                .invalid-feedback
                  | Valid first name is required.
              .col-md-6.mb-3
                label(for='lastName') Last name
                input#lastName.form-control(type='text', placeholder='', value='', required='')
                .invalid-feedback
                  | Valid last name is required.
            .mb-3
              label(for='username') Username
              .input-group
                .input-group-prepend
                  span.input-group-text @
                input#username.form-control(type='text', placeholder='Username', required='')
                .invalid-feedback(style='width: 100%;')
                  | Your username is required.
            .mb-3
              label(for='email')
                | Email 
                span.text-muted (Optional)
              input#email.form-control(type='email', placeholder='you@example.com')
              .invalid-feedback
                | Please enter a valid email address for shipping updates.
            .mb-3
              label(for='address') Address
              input#address.form-control(type='text', placeholder='1234 Main St', required='')
              .invalid-feedback
                | Please enter your shipping address.
            .mb-3
              label(for='address2')
                | Address 2 
                span.text-muted (Optional)
              input#address2.form-control(type='text', placeholder='Apartment or suite')
            .row
              .col-md-5.mb-3
                label(for='country') Country
                select#country.custom-select.d-block.w-100(required='')
                  option(value='') Choose...
                  option United States
                .invalid-feedback
                  | Please select a valid country.
              .col-md-4.mb-3
                label(for='state') State
                select#state.custom-select.d-block.w-100(required='')
                  option(value='') Choose...
                  option California
                .invalid-feedback
                  | Please provide a valid state.
              .col-md-3.mb-3
                label(for='zip') Zip
                input#zip.form-control(type='text', placeholder='', required='')
                .invalid-feedback
                  | Zip code required.
            hr.mb-4
            .custom-control.custom-checkbox
              input#same-address.custom-control-input(type='checkbox')
              label.custom-control-label(for='same-address') Shipping address is the same as my billing address
            .custom-control.custom-checkbox
              input#save-info.custom-control-input(type='checkbox')
              label.custom-control-label(for='save-info') Save this information for next time
            hr.mb-4
            button.btn.btn-primary.btn-lg.btn-block(type='submit') Continue to checkout

      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes