nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
  .sidebar-sticky.pt-3
    ul.nav.flex-column
      li.nav-item
        a.nav-link.active(href='/tabela')
          span(data-feather='home')
          |               Adicionar CLP 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#')
          span(data-feather='file')
          |               Criar tabelas
      li.nav-item
        a.nav-link(href='/graficos')
          span(data-feather='bar-chart-2')
          |               Criar relatório
    h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
      span Relatórios salvos
      a.d-flex.align-items-center.text-muted(href='#', aria-label='Add a new report')
        span(data-feather='plus-circle')
    ul.nav.flex-column.mb-2
      li.nav-item
        a.nav-link(href='#')
          span(data-feather='file-text')
          |               Este mês
      li.nav-item
        a.nav-link(href='#')
          span(data-feather='file-text')
          |               Maio
      li.nav-item
        a.nav-link(href='#')
          span(data-feather='file-text')
          |               Abril
      li.nav-item
        a.nav-link(href='#')
          span(data-feather='file-text')
          |               Março