extends layout_2

block css
  //CSS Datatables
  link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css')

  // DataTables Responsive CSS
  link(href='/bower_components/datatables.net-responsive-dt/css/responsive.dataTables.css', rel='stylesheet')
  // Export button styles
  link(href='https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css', rel='stylesheet', type='text/css')

block scripts
  // DataTables JavaScript
  script(src='/bower_components/datatables.net/js/jquery.dataTables.min.js')
  script(src='/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js')
  script(src='/bower_components/datatables.net-responsive/js/dataTables.responsive.js')
  script(src='/bower_components/datatables.net-select/js/dataTables.select.js')

  // Script tables export buttons
  script(src='/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js')
  script(src='/bower_components/datatables.net-buttons/js/buttons.flash.min.js')
  script(src='/bower_components/datatables.net-buttons/js/buttons.html5.min.js')
  script(src='/bower_components/datatables.net-buttons/js/buttons.print.min.js')
  
  //script(src='/bower_components/datatables-plugins/jszip.min.js')
  //script(src='/bower_components/datatables-plugins/pdfmake.min.js')
  //script(src='/bower_components/datatables-plugins/vfs_fonts.js')

block export
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
  h1.h2 Tabela
  .btn-toolbar.mb-2.mb-md-0
    .btn-group.mr-2
      button.btn.btn-sm.btn-outline-secondary(type='button') Share
      button.btn.btn-sm.btn-outline-secondary(type='button') Export
    button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button')
      span(data-feather='calendar')
      |             This week

block content
    table#example.display(style='width:100%')
      thead
        tr
          th Celula
          th Caixa

    script.init(type='text/javascript').
      $('#example').DataTable( {
      "ajax": '/python',
      responsive: true,
      dom: 'Bfrtlip',
      columns: [
      { data: 'name' },
      { data: 'code' }
      ]
      } );

