doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
    meta(name='generator', content='Jekyll v4.0.1')
    title Dashboard Template · Bootstrap
    // Bootstrap core CSS
    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
    // Favicons
    link(rel='apple-touch-icon', href='/bower_components/bootstrap/assets/img/favicons/apple-touch-icon.png', sizes='180x180')
    link(rel='icon', href='/bower_components/bootstrap/assets/img/favicons/favicon-32x32.png', sizes='32x32', type='image/png')
    link(rel='icon', href='/bower_components/bootstrap/assets/img/favicons/favicon-16x16.png', sizes='16x16', type='image/png')
    link(rel='manifest', href='/bower_components/bootstrap/assets/img/favicons/manifest.json')
    link(rel='mask-icon', href='/bower_components/bootstrap/assets/img/favicons/safari-pinned-tab.svg', color='#563d7c')
    link(rel='icon', href='/bower_components/bootstrap/assets/img/favicons/favicon.ico')
    meta(name='msapplication-config', content='/bower_components/bootstrap/assets/img/favicons/browserconfig.xml')
    meta(name='theme-color', content='#563d7c')
    style.
      .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      }
      @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
      }
    // Custom styles for this template
    link(href='/bower_components/bootstrap/dashboard/dashboard.css', rel='stylesheet')
  body
    nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0.shadow
      a.navbar-brand.col-md-3.col-lg-2.mr-0.px-3(href='#') Company name
      button.navbar-toggler.position-absolute.d-md-none.collapsed(type='button', data-toggle='collapse', data-target='#sidebarMenu', aria-controls='sidebarMenu', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      input.form-control.form-control-dark.w-100(type='text', placeholder='Search', aria-label='Search')
      ul.navbar-nav.px-3
        li.nav-item.text-nowrap
          a.nav-link(href='#') Sign out
    .container-fluid
      .row
        nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
          .sidebar-sticky.pt-3
            ul.nav.flex-column
              li.nav-item
                a.nav-link.active(href='#')
                  span(data-feather='home')
                  |               Dashboard 
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='#')
                  span(data-feather='file')
                  |               Orders
              li.nav-item
                a.nav-link(href='#')
                  span(data-feather='shopping-cart')
                  |               Products
              li.nav-item
                a.nav-link(href='#')
                  span(data-feather='users')
                  |               Customers
              li.nav-item
                a.nav-link(href='#')
                  span(data-feather='bar-chart-2')
                  |               Reports
              li.nav-item
                a.nav-link(href='#')
                  span(data-feather='layers')
                  |               Integrations
            h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
              span Saved reports
              a.d-flex.align-items-center.text-muted(href='#', aria-label='Add a new report')
                span(data-feather='plus-circle')
            ul.nav.flex-column.mb-2
              li.nav-item
                a.nav-link(href='#')
                  span(data-feather='file-text')
                  |               Current month
              li.nav-item
                a.nav-link(href='#')
                  span(data-feather='file-text')
                  |               Last quarter
              li.nav-item
                a.nav-link(href='#')
                  span(data-feather='file-text')
                  |               Social engagement
              li.nav-item
                a.nav-link(href='#')
                  span(data-feather='file-text')
                  |               Year-end sale
        main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
            h1.h2 Dashboard
            .btn-toolbar.mb-2.mb-md-0
              .btn-group.mr-2
                button.btn.btn-sm.btn-outline-secondary(type='button') Share
                button.btn.btn-sm.btn-outline-secondary(type='button') Export
              button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button')
                span(data-feather='calendar')
                |             This week
          canvas#myChart.my-4.w-100(width='900', height='380')
          h2 Section title
          .table-responsive
            table.table.table-striped.table-sm
              thead
                tr
                  th #
                  th Header
                  th Header
                  th Header
                  th Header
              tbody
                tr
                  td 1,001
                  td Lorem
                  td ipsum
                  td dolor
                  td sit
                tr
                  td 1,002
                  td amet
                  td consectetur
                  td adipiscing
                  td elit
                tr
                  td 1,003
                  td Integer
                  td nec
                  td odio
                  td Praesent
                tr
                  td 1,003
                  td libero
                  td Sed
                  td cursus
                  td ante
                tr
                  td 1,004
                  td dapibus
                  td diam
                  td Sed
                  td nisi
                tr
                  td 1,005
                  td Nulla
                  td quis
                  td sem
                  td at
                tr
                  td 1,006
                  td nibh
                  td elementum
                  td imperdiet
                  td Duis
                tr
                  td 1,007
                  td sagittis
                  td ipsum
                  td Praesent
                  td mauris
                tr
                  td 1,008
                  td Fusce
                  td nec
                  td tellus
                  td sed
                tr
                  td 1,009
                  td augue
                  td semper
                  td porta
                  td Mauris
                tr
                  td 1,010
                  td massa
                  td Vestibulum
                  td lacinia
                  td arcu
                tr
                  td 1,011
                  td eget
                  td nulla
                  td Class
                  td aptent
                tr
                  td 1,012
                  td taciti
                  td sociosqu
                  td ad
                  td litora
                tr
                  td 1,013
                  td torquent
                  td per
                  td conubia
                  td nostra
                tr
                  td 1,014
                  td per
                  td inceptos
                  td himenaeos
                  td Curabitur
                tr
                  td 1,015
                  td sodales
                  td ligula
                  td in
                  td libero
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="/bower_components/bootstrap/assets/distjs/vendor/jquery.slim.min.js"><\\/script>')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js', integrity='sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js')
    script(src='/bower_components/bootstrap/dashboard/dashboard.js')
