doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Controle de estoque
    // Bootstrap Core CSS
    link(href='../vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // MetisMenu CSS
    link(href='../vendor/metisMenu/metisMenu.min.css', rel='stylesheet')
    // Custom CSS
    link(href='../dist/css/sb-admin-2.css', rel='stylesheet')
    // Morris Charts CSS
    link(href='../vendor/morrisjs/morris.css', rel='stylesheet')
    // Custom Fonts
    link(href='../vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css')
    // DataTables Responsive CSS
    link(href='../vendor/datatables-responsive/dataTables.responsive.css', rel='stylesheet')
    // Export button styles
    link(href='https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // jQuery
    script(src='../vendor/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='../vendor/bootstrap/js/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='../vendor/metisMenu/metisMenu.min.js')
    // Morris Charts JavaScript
    script(src='../vendor/raphael/raphael.min.js')
    script(src='../vendor/morrisjs/morris.min.js')
    // Custom Theme JavaScript
    script(src='../dist/js/sb-admin-2.js')
    // DataTables JavaScript
    script(src='../vendor/datatables/js/jquery.dataTables.min.js')
    script(src='../vendor/datatables-plugins/dataTables.bootstrap.min.js')
    script(src='../vendor/datatables-responsive/dataTables.responsive.js')
    // Script tables export buttons
    script(src='../vendor/datatables-plugins/dataTables.buttons.min.js')
    script(src='../vendor/datatables-plugins/buttons.flash.min.js')
    script(src='../vendor/datatables-plugins/jszip.min.js')
    script(src='../vendor/datatables-plugins/pdfmake.min.js')
    script(src='../vendor/datatables-plugins/vfs_fonts.js')
    script(src='../vendor/datatables-plugins/buttons.html5.min.js')
    script(src='../vendor/datatables-plugins/buttons.print.min.js')
    script.init(type='text/javascript').
      $(document).ready(function() {
      $('#example').DataTable( {
      "ajax": '../data/tabela_teste.py',
      responsive: true,
      dom: 'Bfrtlip',
      buttons: [
      'copy', 'csv', 'excel', 'pdf', 'print'
      ]
      } );
      var table = $('#example').DataTable();
      $('#example tbody').on('click', 'tr', function () {
      var data = table.row( this ).data();
      setInterval( function () {
      table.ajax.reload( null, false ); // user paging is not reset on reload
      }, 30000 );
      var modal = $("#exampleModal2")
      $("#exampleModal2").find('.modal-title').text('Inserir ordem')
      $("#exampleModal2").find('#recipient-ordem-modal2').val(data[0])
      $("#exampleModal2").find('#recipient-cliente-modal2').val(data[1])
      $("#exampleModal2").find('#recipient-cidade-modal2').val(data[2])
      $("#exampleModal2").find('#recipient-estado-modal2').val(data[3])
      $("#exampleModal2").modal();
      });
      } );
  body
    #wrapper
      // Navigation
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
        div(w3-include-html='titulo.html')
        div(w3-include-html='menu.html')
      #page-wrapper
        // Conteudo aqui
        script(src='https://www.w3schools.com/lib/w3.js')
        script.
          w3.includeHTML();
        .row
          .col-lg-12
            .panel.panel-default
              // /.panel-heading
              .panel-body
                table#example.display(style='width:100%')
                  thead
                    tr
                      th Ordem
                      th Cliente
                      th Cidade
                      th Status
                      th Usuario
              // /.panel-body
              // /.panel
              // /.col-lg-12
              .col-lg-12
                .panel.panel-default
                  // /.panel-heading
                  .panel-body
                    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal', data-ordem='1', data-cliente='Novo', data-cidade='Onde', data-estado='NA') Inserir ordem
                  // /.panel-body
                  // /.panel
                  // /.col-lg-12
                  // /.row
                  // /#page-wrapper
                  // /#wrapper
                  // Modal
                  #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                    .modal-dialog(role='document')
                      .modal-content
                        .modal-header
                          h5#exampleModalLabel.modal-title Inserir ordem
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .modal-body
                          form
                            .form-group
                              label.col-form-label(for='message-text', name='cliente') Cliente:
                              input#recipient-cliente.form-control(type='text')
                            .form-group
                              label.col-form-label(for='message-text', name='cidade') Cidade:
                              input#recipient-cidade.form-control(type='text')
                            .form-group
                              label.col-form-label(for='message-text', name='estado') Estado:
                              input#recipient-estado.form-control(type='text')
                        .modal-footer
                          button.btn.btn-secondary(type='button', data-dismiss='modal') Fechar
                          button.btn.btn-primary(type='button', data-dismiss='modal', onclick='goPython()') Inserir ordem
                  // Modal
                  #exampleModal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                    .modal-dialog(role='document')
                      .modal-content
                        .modal-header
                          h5#exampleModalLabel.modal-title Alterar ordem
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .modal-body
                          form
                            .form-group
                              label.col-form-label(for='recipient-name', name='ordem') Ordem:
                              input#recipient-ordem-modal2.form-control(type='text')
                            .form-group
                              label.col-form-label(for='message-text', name='cliente') Cliente:
                              input#recipient-cliente-modal2.form-control(type='text')
                            .form-group
                              label.col-form-label(for='message-text', name='cidade') Cidade:
                              input#recipient-cidade-modal2.form-control(type='text')
                            .form-group
                              label.col-form-label(for='message-text', name='estado') Estado:
                              input#recipient-estado-modal2.form-control(type='text')
                        .modal-footer
                          button.btn.btn-secondary(type='button', data-dismiss='modal') Fechar
                          button.btn.btn-primary(type='button', data-dismiss='modal', onclick='goPython_2()') Alterar ordem
                  script.
                    function goPython(){
                    $.ajax({
                    type: 'post',
                    url: "../data/escreve_ordem.py?cliente="+document.getElementById('recipient-cliente').value+"&cidade="+document.getElementById('recipient-cidade').value+"&estado="+document.getElementById('recipient-estado').value+"&usuario=<?php echo $_SESSION['user'] ?>",
                    async: false,
                    success: function (response) {
                    console.log(response);
                    }
                    }).done(function (data) {
                    console.log(data);
                    });
                    var table = $('#example').DataTable();
                    table.ajax.reload();
                    }
                    function goPython_2(){
                    $.ajax({
                    type: 'post',
                    url: "../data/altera_ordem.py?ordem="+document.getElementById('recipient-ordem-modal2').value+"&cliente="+document.getElementById('recipient-cliente-modal2').value+"&cidade="+document.getElementById('recipient-cidade-modal2').value+"&estado="+document.getElementById('recipient-estado-modal2').value+"&usuario=<?php echo $_SESSION['user'] ?>",
                    async: false,
                    success: function (response) {
                    console.log(response);
                    }
                    }).done(function (data) {
                    console.log(data);
                    });
                    var table = $('#example').DataTable();
                    table.ajax.reload();
                    }
