extends layout_2

block content
  main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
      h1.h2 Dashboard
      .btn-toolbar.mb-2.mb-md-0
        .btn-group.mr-2
          button.btn.btn-sm.btn-outline-secondary(type='button') Share
          button.btn.btn-sm.btn-outline-secondary(type='button') Export
        button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button')
          span(data-feather='calendar')
          |             This week
    canvas#myChart.my-4.w-100(width='900', height='380')
    h2 Section title
    .table-responsive
      table.table.table-striped.table-sm
        thead
          tr
            th #
            th Header
            th Header
            th Header
            th Header
        tbody
          tr
            td 1,001
            td Lorem
            td ipsum
            td dolor
            td sit
          tr
            td 1,002
            td amet
            td consectetur
            td adipiscing
            td elit
          tr
            td 1,003
            td Integer
            td nec
            td odio
            td Praesent
          tr
            td 1,003
            td libero
            td Sed
            td cursus
            td ante
          tr
            td 1,004
            td dapibus
            td diam
            td Sed
            td nisi
          tr
            td 1,005
            td Nulla
            td quis
            td sem
            td at
          tr
            td 1,006
            td nibh
            td elementum
            td imperdiet
            td Duis
          tr
            td 1,007
            td sagittis
            td ipsum
            td Praesent
            td mauris
          tr
            td 1,008
            td Fusce
            td nec
            td tellus
            td sed
          tr
            td 1,009
            td augue
            td semper
            td porta
            td Mauris
          tr
            td 1,010
            td massa
            td Vestibulum
            td lacinia
            td arcu
          tr
            td 1,011
            td eget
            td nulla
            td Class
            td aptent
          tr
            td 1,012
            td taciti
            td sociosqu
            td ad
            td litora
          tr
            td 1,013
            td torquent
            td per
            td conubia
            td nostra
          tr
            td 1,014
            td per
            td inceptos
            td himenaeos
            td Curabitur
          tr
            td 1,015
            td sodales
            td ligula
            td in
            td libero