nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0.shadow
  a.navbar-brand.col-md-3.col-lg-2.mr-0.px-3(href='#') Nome da empresa
  button.navbar-toggler.position-absolute.d-md-none.collapsed(type='button', data-toggle='collapse', data-target='#sidebarMenu', aria-controls='sidebarMenu', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  input.form-control.form-control-dark.w-100(type='text', placeholder='Pesquisa', aria-label='Search')
  ul.navbar-nav.px-3
    li.nav-item.text-nowrap
      a.nav-link(href='#') Deslogar